extends layout

block content
  h1= title
  p Welcome to Apixio QA Server
  ul#testsuites
    li: |a(href="/runtest/minimal") Run minimal test suites
        |
    li: |a(href="/runtest/hcc") Run HCC test suites
        |
    li: |a(href="/runtest/cmp") Run CMP test suites
        |
  
