extends layout

block content
  h1= title
  p Welcome to Apixio QA Server
  p |1 
    |a(href="/runtest/minimal") Run minimal test suites
  p |2 
    |a(href="/runtest/hcc") Run HCC test suites
  p |3 
    |a(href="/runtest/cmp") Run CMP test suites
  
