extends layout

block content
  h1= title
  p Welcome to Apixio QA Server
  a(href="/runtest/minimal") Run minimal test suites
  a(href="/runtest/hcc") Run HCC test suites
  a(href="/runtest/cmp") Run CMP test suites
  
