extends layout

block content
  h1= title
  p Welcome to Apixio QA Server
  table(style='cellpadding: 4')
    tr
      td 
        1
      td 
        a(href="/runtest/minimal") Run minimal test suites
    tr
      td
        2
      td  
        a(href="/runtest/hcc") Run HCC test suites
    tr
      td
        3
      td  
        a(href="/runtest/cmp") Run CMP test suites
  
