extends layout

block content
  img(src="/images/apxlogo.jpg")
  h1= title
  p Test Results for #{test_suite}
  pre #{test_results}
  a(href="/") Go to main page
block scripts
  script(src='/js/testResults.js')

       
  
